[Unit]
Description=RustFS object storage service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile={{ rustfs_env_file }}
ExecStartPre=-/usr/bin/podman rm -f {{ rustfs_container_name }}
ExecStart=/usr/bin/podman run --rm --name {{ rustfs_container_name }} -p {{ rustfs_api_port }}:9000 -p {{ rustfs_console_port }}:9001 --env-file {{ rustfs_env_file }} -v {{ rustfs_data_dir }}:/data:Z {{ rustfs_image }} /data
ExecStop=-/usr/bin/podman stop -t 10 {{ rustfs_container_name }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
