[Unit]
Description=NAR Object Storage backend service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile={{ rustfs_env_file }}
ExecStartPre=-/usr/bin/podman rm -f rustfs
ExecStartPre=-/usr/bin/podman rm -f {{ rustfs_container_name }}
ExecStart=/usr/bin/podman run --name {{ rustfs_container_name }} -p {{ rustfs_bind_ip }}:{{ rustfs_api_port }}:9000 -p {{ rustfs_bind_ip }}:{{ rustfs_console_port }}:9001 --env-file {{ rustfs_env_file }}{% for data_dir in rustfs_data_dirs %} -v {{ data_dir }}:/data/disk{{ "%02d" | format(loop.index) }}:Z{% endfor %} {{ rustfs_image }}{% for data_dir in rustfs_data_dirs %} /data/disk{{ "%02d" | format(loop.index) }}{% endfor %}
ExecStop=-/usr/bin/podman stop -t 10 {{ rustfs_container_name }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
