[Unit]
Description=NAR Object Storage First Boot Wizard
After=network-online.target kdx-agent.service
Wants=network-online.target
Requires=kdx-agent.service

[Service]
Type=simple
ExecStartPre=-/usr/bin/podman rm -f kdx-wizard
ExecStart=/usr/bin/podman run --rm --name kdx-wizard --network host -e KDX_AGENT_URL=http://127.0.0.1:7070 localhost/kdx-wizard:latest
ExecStop=-/usr/bin/podman stop -t 10 kdx-wizard
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
